.container {
    padding-left: 20px;
}

.movieContainer {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.movieImg {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.movieInfo {
 padding-left: 20px;
}

.button {
margin-bottom: 8px;
margin-top: 8px;
width: 200px;
text-align: center;
}